[Desktop Entry]
Type=Application
Version=4.5
Name=Mars
Comment=A MIPS Simulator
Exec=eval $(guix shell -m $HOME/.config/guix/manifests/java.scm --search-paths) && java -jar /home/phil-gab99/Packages/Mars4_5.jar
Terminal=false
