Cache
CachedData
CachedExtensionVSIXs
CachedProfilesData
Code Cache
Crashpad
DawnCache
GPUCache
Local State
Local Storage
Network
Preferences
Service Worker
Session Storage
WebStorage
databases
languagepacks.json
logs
machineid
