[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/phil-gab99/.emacs.d/exwm/start-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm
