[Desktop Entry]
Type=Application
Version=1.0
Name=LMC
Comment=Little Man Computer, an assembly language simulator
Exec=java -jar /home/phil-gab99/Packages/LMC.jar
Terminal=false
