auto-save-list
extrapkgs
.org-id-locations
forge-database.sqlite
places
projectile-bookmarks.eld
tmp
transient
straight
eln-cache
eshell
recentf
tramp
emms
network-security.data
org-roam.db
bookmarks
emojis
sokoban-state
url
